<h1 class="movies-list__title">Movies</h1>
<div class="movies-list__filter-select-container clearfix">
    <select id="moviesFilterSelect"
            ng-model="moviesList.moviesFilter"
            ng-change="updateFilter()"
            class="form-control movies-list__filter-select">
        <option value="costLowToHigh">Total cost (low to high)</option>
        <option value="costHighToLow">Total cost (high to low)</option>
    </select>
</div>
<div class="movies-list">
    <div ng-repeat="movie in moviesList.movies"
         class="movies-list__movie-details">
        <h2 class="movies-list__movie-details__title">{{createMovieHeader(movie)}}</h2>
        <table class="movies-list__movie-details__cast-list">
            <tr ng-repeat="actor in movie.actors"><td>{{actor.name}}</td><td>{{actor.salary | currency:"$":0}}</td></tr>
            <tr><td>Total</td><td>{{movie.castListTotalCost | currency:"$":0}}</td></tr>
        </table>
    </div>
</div>