<form name="createMovieForm" class="create-movie-form" novalidate>
    <label for="movieTitle">Title <span
            ng-show="createMovieForm.$submitted && createMovieForm.movieTitle.$error.required"
            class="create-movie-form__validation-message">- required - max 30 characters</span></label>
    <input id="movieTitle"
           name="movieTitle"
           ng-model="movie.title"
           type="text"
           class="form-control create-movie-form__control"
           placeholder="Enter title.."
           maxlength="30"
           required />

    <div class="row create-movie-form__control">
        <div class="col-xs-6">
            <label for="movieCategory">Category</label>
            <select id="movieCategory"
                    name="movieCategory"
                    ng-model="movie.category"
                    ng-change="categoryUpdated()"
                    class="form-control ng-invalid"
                    required >
                <option value="" default selected disabled>Select..</option>
                <option ng-repeat="(key, value) in categories" value="{{key}}">{{key}}</option>
            </select>
            <span ng-show="createMovieForm.$submitted && createMovieForm.movieCategory.$error.required"
                    class="create-movie-form__validation-message">required</span>
        </div>
        <div class="col-xs-6"
             ng-show="createMovieForm.movieCategory.$valid">
            <label for="movieSubcategory">Subcategory</label>
            <select id="movieSubcategory"
                    ng-model="movie.subcategory"
                    class="form-control">
                <option value="" selected>none</option>
                <option ng-repeat="subcategory in subcategories" value="{{subcategory}}">{{subcategory}}</option>
            </select>
        </div>
    </div>

    Cast
    <div class="create-movie-form__cast-list">
        <table class="create-movie-form__cast-list__table">
            <tr><th>Actor</th><th>Salary($)</th><th></th></tr>
            <tr ng-repeat="actor in movie.actors">
                <td>
                    <ng-form name="actorNameForm">
                        <input name="actorName"
                               ng-model="actor.name"
                               type="text"
                               class="form-control"
                               placeholder="Enter name.."
                               maxlength="30"
                               required />
                        <span ng-show="createMovieForm.$submitted && actorNameForm.actorName.$error.required"
                              class="create-movie-form__validation-message">required</span>
                    </ng-form>
                </td>
                <td>
                    <ng-form name="actorSalaryForm">
                        <input name="actorSalary"
                               ng-model="actor.salary"
                               type="number"
                               class="form-control"
                               min="1"
                               max="1000000000"
                               step="10000"
                               required/>
                        <span ng-show="createMovieForm.$submitted && actorSalaryForm.actorSalary.$invalid"
                              class="create-movie-form__validation-message">required</span>
                    </ng-form>
                </td>
                <td>
                    <button ng-click="deleteActor($index)"
                            class="btn create-movie-form__cast-list__btn--delete"
                            type="button">-</button>
                </td>
            </tr>
        </table>
        <span ng-show="createMovieForm.$submitted && !hasOneValidActor()"
                class="create-movie-form__validation-message">At least one actor required</span>
        <button ng-show="allActorsAreValid()"
                ng-click="initialiseNewActor()"
                class="btn create-movie-form__cast-list__btn--add"
                type="button">+</button>
    </div>

    <button ng-click="create(createMovieForm)"
            type="submit"
            class="btn create-movie-form__cast-list__btn--create-movie">CREATE</button>
    <button ng-click="resetForm(createMovieForm)"
            ng-show="createMovieForm.$submitted"
            type="button"
            class="btn create-movie-form__cast-list__btn--reset">RESET</button>
</form>