.create-movie-form__container {
    padding: 2%;
    background-color: $second-color;
    @media (min-width: 768px) {
        padding-top: 115px;
        height:100vh;
    }
}

.create-movie-form__control {
    font-family: $font-family-main;
    margin-bottom: 10px;
}

.create-movie-form__cast-list {
    padding: 2%;
    background-color: $second-color-offset-1;
}

.create-movie-form__cast-list__table {
    width: 100%;
}

.create-movie-form__cast-list__btn--delete {
    background-color: $second-color-offset-2;
}

.create-movie-form__cast-list__btn--add {
    display: block;
    margin-top: 8px;
    background-color: $fourth-color;
}
.create-movie-form__cast-list__btn--create-movie, .create-movie-form__cast-list__btn--reset {
    margin-top: 15px;
    background-color: $third-color;
    width:100%;
}

.create-movie-form__cast-list__btn--delete:focus,
.create-movie-form__cast-list__btn--delete:hover,
.create-movie-form__cast-list__btn--delete:active{
    color: $lightest;
}

.create-movie-form__validation-message {
  color: $validaton-color;
}

.ng-submitted input.ng-invalid, .ng-submitted select.ng-invalid {
  border: $error-border;
}

.form-control, input.ng-untouched, select.ng-untouched {
  border: $standard-border;
}
