.movies-list__container {
    padding:    2%;
    background-color: $fifth-color;
    @media (min-width: 768px) {
        height:100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.movies-list__title {
    font-size: 3em;
}

.movies-list__filter-select-container {
    width:100%;
}

.movies-list__filter-select {
    width: auto;
    float: right;
}

.movies-list__movie-details {
    background-color: $sixth-color;
    padding: 3%;
    margin-top: 10px;
}

.movies-list__movie-details__title {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.movies-list__movie-details__cast-list td{
    padding-right: 15px;
}

.movies-list__movie-details__cast-list tr:last-child td{
    padding-top: 20px;
}
