html, body {
    height: 100%;
    color: $lightest;
    background-color: $fifth-color;
    font-family: $font-family-main;
}

.container-fluid, .row {
    height: 100%;
}

label,input, select {
    display: block;
}
td {
    vertical-align: top;
}

.form-control {
    border-radius: 0;
}