$lightest: #FFF;
$darkest: #000;

$first-color: #DBDBDB;
$second-color: #737373;
$third-color: #78c200;
$fourth-color: #B1CA00;
$fifth-color: #414953;
$sixth-color: #25292f;

$validaton-color: red;

$second-color-offset-1: #666666;
$second-color-offset-2: #333333;

$font-family-main: 'Rubik', sans-serif;

$standard-border: 1px solid $darkest;

$error-border: 3px solid $validaton-color;
